{% extends "../layout_bocor_main.html" %}
{% block title %}首页{% end %}
{% block content %}

<div class="col-md-12">
    <div class="container">
        <div style="margin-top: 20px;"></div>
        <div class="row marginbot-80">
            <div class="col-md-8 col-md-offset-2">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form id="contact-form" action="" method="post" role="form" class="contactForm">
                    <div class="row marginbot-20">
                        <div class="col-md-6 xs-marginbot-20">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="您的姓名"
                                       data-rule="minlen:4" data-msg="姓名不能为空"/>
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!--
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="您的邮箱" data-rule="email"
                                       data-msg="Please enter a valid email"/>
                                 -->
                                <select class="form-control">
                                    <option value="0">女</option>
                                    <option value="1">男</option>
                                </select>
                                <div class="validation"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row marginbot-20">
                        <div class="col-md-6 xs-marginbot-20">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="您的手机号码"
                                       data-rule="minlen:4" data-msg="手机号码不正确"/>
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email"
                                       placeholder="短信验证码" data-rule="email"
                                       data-msg="短信验证码不正确"/>
                                <div class="validation"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required"
                                          data-msg="填写一些其他信息" placeholder="其他一些信息"></textarea>
                                <div class="validation"></div>
                            </div>
                            <button type="submit" class="btn btn-skin btn-lg btn-block" id="btnContactUs">
                                提交注册信息
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="dialog_tips">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" onclick="return_frontpage()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">客服账号注册须知 & 注册协议</h4>
      </div>
      <div class="modal-body">
        <p>旋抹红妆看使君，三三五五棘篱门。 <br />
相挨踏破茜罗裙。<br />
老幼扶携收麦社，乌鸢翔舞赛神村。<br />
道逢醉叟卧黄昏。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="$('#dialog_tips').modal('toggle')">同意协议</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(function() {
        $("#dialog_tips").modal({});
    }());

    function return_frontpage() {
        window.location.href = "{{ reverse_url('customer_frontpage_index') }}";
    }
</script>
{% end %}