<section class="content-header">
    {% if "title" in info %}
    <h1>
        {{ info["title"][0] }}
        <small>{{ info["title"][1] }}</small>
      </h1>
    {% end %}
    {% if "nav" in info %}
    <ol class="breadcrumb">
        {% for item in info["nav"] %}
        {% if "class" in item %}
        {% if "url" in item %}
        <li><a href="{{ item['url'] }}"><i class="{{ item['class'] }}"></i>{{ item["name"] }}</a></li>
        {% else %}
        <li class="active"><i class="{{ item['class'] }}"></i>{{ item["name"] }}</li>
        {% end %}
        {% else %}
        {% if "url" in item %}
        <li><a href="{{ item['url'] }}">{{ item["name"] }}</a></li>
        {% else %}
        <li class="active">{{item["name"]}}</li>
        {% end %}
        {% end %}
        {% end %}
    </ol>
    {% end %}
    </section>