<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 1024px;">
        <section class="sidebar" style="height: 1024px; overflow: hidden; width: auto;">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{static_url('ksg_kefu_logo.png')}}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ get_login_identify("name") }}</p>
                </div>
            </div>

            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">系统功能</li>
                <li class="active treeview">
                    <a href="#"><i class="fa fa-dashboard"></i><span> 业务面板</span></a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span> 服务管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{reverse_url('product_index')}}"><i class="fa fa-circle-o"></i> 产品管理</a></li>
                        <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Faq管理</a></li>
                        <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> 留言管理</a></li>
                        <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> 智能语料管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span> 客服招录</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> 客服人员</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 面试管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 考试管理</a></li>
                        <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> 绩效管理</a></li>
                        <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> 分配管理</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <div class="slimScrollBar"
             style="background: rgba(0, 0, 0, 0.2); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 1024px;"></div>
        <div class="slimScrollRail"
             style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
    </div>
    <!-- /.sidebar -->
</aside>