{% extends "../layout/admin2base.html" %}
{% block title %}客服管理{% end %}
{% block content %}
{% if breadcrumb %}
{% module Breadcrumb(breadcrumb) %}
{% end %}
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">客服人员管理</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <a class="btn btn-primary" style="margin-bottom:5px;" href="{{reverse_url('customer_create')}}">创建客服账号</a>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>加入时间</th>
                    <th>服务产品数</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for c in customers %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td>{{ c.phone }}</td>
                    <td>{{ c.create_tm }}</td>
                    <td></td>
                    <td><a href="{{ full_url('customer_detail', {'cid': c.id}) }}">详情</a></td>
                </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% end %}